{% extends "../base.html" %}

{% block content %}
<h2>Sign in</h2>

<form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control {% if errors.credentials %}is-invalid{% endif %}" id="username" name="username" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control {% if errors.credentials %}is-invalid{% endif %}" id="password" name="password" placeholder="Password">

    {% if errors.credentials %}
    <div class="invalid-feedback">
        {{ errors.credentials }}
    </div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}