{% load mix %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} | Django Twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% mix 'build/css/app.css' 'static' %}">
  {% block head %}{% endblock %}
</head>
<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Django Twitter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navCollapse">
          <div class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' username=user.username %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'settings' %}">Settings</a>
            <a id="js--sign-out-link" class="nav-item nav-link" href="#">Sign out</a>

            <form id="js--sign-out-form" method="POST" action="{% url 'signout' %}">
            {% csrf_token %}
            </form>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'signin' %}">Sign in</a>
            <a class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
          </div>
      </div>
      </nav>
    </header>
    <div class="container mt-4 mb-4">

      <div class="content border border-light rounded p-3">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
          <hr>
          <p class="text-center small">
            Django Twitter 2020, All rights reserved<br>
            <div class="text-muted small">Made by Audris, Jānis</div>
          </p>
        </footer>
      </div>
    </div>
  </div>

  <script src="{% mix 'build/js/app.js' 'static' %}"></script>

  {% block javascript-end %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
  (() => {
    $('#js--sign-out-link').on('click', () => {
      console.log('click');
      $('#js--sign-out-form').submit();
    });
  })();
  </script>
</body>
</html>